<meta charset="utf-8"/>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">


  <div style="padding: 20px; background-color: #efebe8; margin: auto; width: 600px; height: 100%">
    <img src="https://github.com/ccem-dev/otus/wiki/images/otus-icon.png">
    <h1 class="md-display-1">Recuperação de Acesso</h1>
    <div style="padding: 20px ;border-radius: 15px; height: 110px; background-color: aliceblue">
        <img align="left" style="margin-right:20px; width: 100px"
             src="https://github.com/ccem-dev/otus/wiki/images/check-icon.png">
        
        <a href={{host}}/otus/validateToken/{{token}}>
        <span class="md-body-1">Para redefinir sua senha clique aqui.</span><br/></a>
        <span class="md-body-1">Caso desconheça essa solicitação ignore o procedimento.<br/>             
    </div>
      
   
    <br/>
    <br/>
    <div>
        <span>Att,</span><br/>
        <span>Administração</span><br/>
        <span>Sistema Otus</span><br/>
    </div>
</div>
