<meta charset="utf-8"/>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

<div style="padding: 20px; background-color: #efebe8; margin: auto; width: 600px; height: 100%">
    <img src="https://github.com/ccem-dev/otus/wiki/images/otus-icon.png">
    <h1 class="md-display-1">Recuperação de Login</h1>
    <div style="padding: 20px ;border-radius: 15px; height: 110px; background-color: aliceblue">
        <img align="left" style="margin-right:20px; width: 100px"
             src="https://github.com/ccem-dev/otus/wiki/images/check-icon.png">
        <h2 class="md-title">Redefinição de Senha</h2>
        <span class="md-body-1">Você solicitou uma redefinição de senha.</span><br/>
        <span class="md-body-1">Clique no link abaixo para inserir a nova senha.</span><br/>
        <span class="md-body-1"><a href=#>{{host}}/otus/validateToken/{{token}}</a></span><br/> 
        
    </div>

    <br/>
    <br/>
    <div>
        <span>Att,</span><br/>
        <span>Administração</span><br/>
        <span>Sistema Otus</span><br/>
    </div>
</div>
